
    <div class="addTaskDataModal">

      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Add New Task</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body">
        <form [formGroup]="addTaskDataForm" (ngSubmit)="onSubmitAddTaskDataForm()" id="frm_silder" autocomplete="off">
          <div class="form-group row">
            <label class="col-4" for="task" class="col-sm-4 col-form-label">Enter Task </label>
            <div class="col-8">
              <input type="text" class="form-control" formControlName="task" id="task" (focus)="removeCustomError()">
              <div class="text-danger"
                *ngIf="(addTaskDataFormControl.task.dirty || submitted) && addTaskDataFormControl.task.errors?.required">
                Task is required
              </div>
              <div class="text-danger">
                <div *ngIf="showErrorTaskExist">Task already Exists</div>
              </div>
            </div>
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            <button [disabled]="!addTaskDataForm.valid || showErrorTaskExist" type="submit" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
